/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --background-color: #fff1f7;
  --background-image: url(../images/cover-image-light.png);
  --title-color: #ffc2e6;
  --accent-color: #ff8dcb;
  --section-header-color: #353430;
  --subheader-color: #353430;
  --text-font-color: #353430;
  --link-shadow-color: #f386c1;
  --header-menu-color: #353430;
  --button-color-hover: rgba(50, 49, 45, 0.4);
  --button-background-color: transparent;
  --header-menu-color: #353430;
  --document-font: "IBM Plex Mono";
  --font-regular: 400;
  --font-bold: 700;
  --title-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --general-font-size: 18px;
  --general-spacing: 10px;
  --document-gap: 30px;
  --section-gap: 50px;
  --screen-min-height: 668px;
}

@media (width >= 768px) {
  :root.theme-light {
    --title-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --general-spacing: 20px;
    --document-gap: 20px;
    --section-gap: 80px;
    --screen-min-height: 1024px;
  }
}

@media (width >= 1024px) {
  :root.theme-light {
    --title-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --general-spacing: 20px;
    --document-gap: 20px;
    --section-gap: 80px;
    --screen-min-height: 768px;
  }
}

.theme-light .decoration {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #fff1f7;
    --background-image: url(../images/cover-image-light.png);
    --title-color: #ffc2e6;
    --accent-color: #ff8dcb;
    --section-header-color: #353430;
    --subheader-color: #353430;
    --text-font-color: #353430;
    --link-shadow-color: #f386c1;
    --header-menu-color: #353430;
    --button-color-hover: rgba(50, 49, 45, 0.4);
    --button-background-color: transparent;
    --document-font: "IBM Plex Mono";
    --font-regular: 400;
    --font-bold: 700;
    --title-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    --general-font-size: 18px;
    --general-spacing: 10px;
    --document-gap: 30px;
    --section-gap: 50px;
    --screen-min-height: 668px;
  }
  .decoration {
    display: none;
  }
}

@media (prefers-color-scheme: light) and (width >= 768px) {
  :root {
    --title-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --general-spacing: 20px;
    --document-gap: 20px;
    --section-gap: 80px;
    --screen-min-height: 1024px;
  }
}

@media (prefers-color-scheme: light) and (width >= 768px) {
  :root {
    --title-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --general-spacing: 20px;
    --document-gap: 20px;
    --section-gap: 80px;
    --screen-min-height: 768px;
  }
}
