/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  display: grid;
  max-inline-size: 375px;
  justify-self: center;
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  gap: 30px;

  @media (width >= 375px) {
    max-inline-size: 768px;
  }

  @media (width >= 768px) {
    max-inline-size: 1024px;
    gap: 40px;
  }

  @media (width >= 1024px) {
    max-inline-size: 1024px;
    gap: 40px;
  }
}

.header {
  block-size: 100vh;
  display: grid;
  min-height: var(--screen-min-height);
  grid-template-rows: 1fr min-content 1fr;
  padding: var(--general-spacing);
}

.decoration {
  position: absolute;
  display: grid;
  grid-template-columns: min-content min-content;
  grid-template-rows: min-content;
  gap: 10px;
  justify-self: end;
  align-items: center;
  inset-inline-end: calc(var(--general-spacing) + 9px);
  inset-block-start: calc(var(--general-spacing) + 2px);
}

.decoration-text {
  font-family: var(--document-font), monospace;
  color: var(--header-menu-color);
  text-transform: uppercase;
}

.decoration::after {
  content: "";
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--header-menu-color);
  box-shadow: 0 0 4px 2px var(--header-menu-color);
}

.decorated-zone {
  position: relative;
}
.decorated-zone::before {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;

  border-top: 1px solid var(--header-menu-color);
  border-right: 1px solid var(--header-menu-color);
  inset-block-start: var(--general-spacing);
  inset-inline-end: var(--general-spacing);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;

  border-bottom: 1px solid var(--header-menu-color);
  border-left: 1px solid var(--header-menu-color);
  inset-block-end: var(--general-spacing);
  inset-inline-start: var(--general-spacing);
}

.header__theme-menu {
  justify-self: end;
  align-self: center;

  @media (width >= 1024px) {
    justify-self: center;
    align-self: start;
  }
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  @media (width >= 1024px) {
    flex-direction: row;
  }
}

.header__theme-menu-button {
  line-height: 100%;
  background-color: transparent;
padding: 2px 13px 6px 13px;
  font-family: var(--document-font), monospace;
  font-size: var(--general-font-size);
  color: var(--header-menu-color);
  font-weight: var(--font-regular);
  outline: none;
  border: 1px solid transparent;
  cursor: pointer;
}

.header__theme-menu-button_active {
  border: 1px solid var(--header-menu-color);
  pointer-events: none;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--header-menu-color);
}

.header__theme-menu-button:hover {
  border: 1px solid var(--button-color-hover);
}

.header__theme-menu-button:active {
  border: 1px solid var(--header-menu-color);
}

.title {
  font-family: var(--document-font), monospace;
  font-size: var(--title-font-size);
  font-weight: var(--font-bold);
  color: var(--title-color);
}

.header-title-settings {
  line-height: 83%;
  text-shadow: 4px 4px var(--accent-color);

  @media (width >= 768px) {
    margin-left: -20px;
  }

  @media (width >= 1024px) {
    margin-left: -20px;
  }
}

.accent-text {
  font-family: var(--document-font), monospace;
  font-size: var(--general-font-size);
  font-weight: var(--font-bold);
  color: var(--subheader-color);
  background-color: var(--accent-color);
  line-height: 130%;
}

.description-settings {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content;
  max-height: fit-content;
  align-self: center;

  @media (width >= 768px) {
    max-width: 50%;
    justify-self: end;
  }

  @media (width >= 1024px) {
    max-width: 50%;
    justify-self: end;
  }
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--section-gap);
  padding: var(--general-spacing);

  @media (width >= 768px) {
    max-inline-size: 1024px;
  }

  @media (width >= 1024px) {
    max-inline-size: 1024px;
  }
}

.list-general {
  display: grid;
  gap: 20px;
}
.list-transform-vertical {
  @media (width >= 768px) {
    grid-template-columns: 1fr 2fr;
  }

  @media (width >= 1024px) {
    grid-template-columns: 1fr 2fr;
  }
}

.section-header {
  font-family: var(--document-font), monospace;
  font-size: var(--general-font-size);
  font-weight: var(--font-bold);
  color: var(--section-header-color);
  line-height: 130%;
}

.list-item-settings {
  display: grid;
  gap: 10px;
}

.text-settings {
  font-family: var(--document-font), monospace;
  font-size: var(--general-font-size);
  font-weight: var(--font-regular);
  color: var(--text-font-color);
  line-height: 130%;
}

.text-link {
  color: var(--text-font-color);
  text-shadow: 2px 2px var(--link-shadow-color);
  text-decoration: none;
  border: 1px solid transparent;
  outline: none;
}

.text-link:hover {
  border-bottom: 1px solid var(--text-font-color);
}

.text-link:focus-visible {
  border: 1px solid var(--text-font-color);
}

.text-link:focus {
  outline: none;
}
.list-transform-changeable {
  @media (width >= 768px) {
    grid-template-rows: min-content 1fr;
  }

  @media (width >= 1024px) {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }
}

.header-changeable {
  display: grid;

  @media (width >= 768px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  @media (width >= 1024px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.list-changeable {
  @media (width >= 1024px) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
}

.list-changeable-item {
  @media (width >= 1024px) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }
}

.subheader-regular {
  font-weight: var(--font-regular);
}

.gallery-list {
  display: grid;
  gap: var(--general-spacing);
}

.gallery-transform {
  @media (width >= 768px) {
    grid-template-areas:
      "sunset sunset ice-cream"
      "tape books ice-cream"
      "tape street street";
  }

  @media (width >= 1024px) {
    grid-template-areas:
      "sunset sunset ice-cream"
      "tape books ice-cream"
      "tape street street";
  }
}

.gallery-image-settings {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.sunset {
  @media (width >= 768px) {
    grid-area: sunset;
  }

  @media (width >= 1024px) {
    grid-area: sunset;
  }
}

.ice-cream {
  @media (width >= 768px) {
    grid-area: ice-cream;
  }

  @media (width >= 1024px) {
    grid-area: ice-cream;
  }
}

.tape {
  @media (width >= 768px) {
    grid-area: tape;
  }

  @media (width >= 1024px) {
    grid-area: tape;
  }
}

.books {
  @media (width >= 768px) {
    grid-area: books;
  }

  @media (width >= 1024px) {
    grid-area: books;
  }
}

.street {
  @media (width >= 768px) {
    grid-area: street;
  }

  @media (width >= 1024px) {
    grid-area: street;
  }
}

.footer {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  padding: var(--general-spacing);
  height: 100vh;
  min-height: var(--screen-min-height);
}

.footer-title-settings {
  line-height: 82.5%;
  text-shadow: 2px 2px var(--accent-color);
  align-content: center;
  justify-self: center;
}
