/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --background-color: #000028;
  --background-image: url(../images/cover-image-dark.png);
  --title-color: #db00ff;
  --accent-color: #ff0070;
  --section-header-color: #ff0070;
  --subheader-color: #000028;
  --text-font-color: #f1b2ce;
  --link-shadow-color: #ff0070;
  --header-menu-color: #ff0070;
  --button-color-hover: rgba(255, 0, 112, 0.4);
  --button-background-color: transparent;
  --document-font: "IBM Plex Mono";
  --font-regular: 400;
  --font-bold: 700;
  --title-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --general-font-size: 18px;
  --general-spacing: 10px;
  --document-gap: 30px;
  --section-gap: 50px;
  --screen-min-height: 668px;
}
@media (width >= 768px) {
  :root {
    --title-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --general-spacing: 20px;
    --document-gap: 20px;
    --section-gap: 80px;
    --screen-min-height: 1024px;
  }
}

@media (width >= 1024px) {
  :root {
    --title-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --general-spacing: 20px;
    --document-gap: 20px;
    --section-gap: 80px;
    --screen-min-height: 768px;
  }
}
